*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
}

.headerApp{
  grid-area: header;
}

.mainApp{
  grid-area: main;
}

.footerApp{
  grid-area: footer;
}

:root{
  --vermelho: #F20505;
  --vinho: #730A0A;
  --rose:#BF8A8A;
  --nude:#D9BABA;
  --preto:#0D0D0D;
  --branco: #F2F2F2;
  --titulo:'Bilbo Swash Caps', cursive;
  --subtitulo: 'Open Sans Condensed', sans-serif;
  --texto: 'Open Sans', sans-serif;
}
